```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.ENV.*
.venv/
.venv.*
.python-version
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/attributes*
*.pot
*.pot.*
*.mo
*.mo.*
Moe/
tags
TAGS
id
.dir-locals.el
*.elc
.pytest_cache/
.pydevproject
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
```